.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

table {
    max-width: 100%; /* Set maximum width */
    width: 100%; /* Ensure the table fills its container */
    border-collapse: collapse; /* Optional: collapse table borders */
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    max-width: 200px; /* Set maximum width for content inside cells */
    overflow: hidden; /* Hide overflow content */
    white-space: nowrap; /* Prevent content from wrapping */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflow content */
    font-size: 1vw;
}
